$primary: #ea9a97;
$secondary: #3e8fb0;
$tertiary: #c4a7e7;
$error: #eb6f92;
$warning: #f6c177;
$success: #9ccfd8;
$background: #232136;
$background_alt: #2a273f;
$surface: #e0def4;
$surface_alt: #6e6a86;