@define-color primary #ea9a97;
@define-color secondary #3e8fb0;
@define-color tertiary #c4a7e7;
@define-color error #eb6f92;
@define-color warning #f6c177;
@define-color success #9ccfd8;
@define-color background #232136;
@define-color background_alt #2a273f;
@define-color surface #e0def4;
@define-color surface_alt #6e6a86;