/* TOP LEFT CONTAINER START */
.sparkle-box {
  background-color: #363940;
  border-radius: 50px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-top: 5px;
}

.sparkle {
  color: #c2c6d5;
  font-size: 20px;
}

.current-workspace {
  font-size: 20px;
  font-weight: bolder;
  color: #e1e2eb;
}

.current-window {
  color: #e1e2eb;
}

/* TOP LEFT CONTAINER END */

/* TOP CENTER CONTAINER START */
.player-image-box {
  border-radius: 8px;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: cover;
}

.player-play-pause {
  font-size: 18px;
  color: rgba(240, 255, 255, 0.8);
}

.player-artist {
  font-size: 15px;
  font-weight: 800;
  color: #e1e2eb;
}

.player-title {
  color: #e1e2eb;
}

.time {
  font-size: 18px;
  font-weight: 800;
  color: #e1e2eb;
}

.today {
  font-size: 15px;
  font-weight: 600;
  color: #e1e2eb;
}

.temperature {
  font-weight: 500;
  color: #e1e2eb;
}

.weather-icon {
  font-size: 19px;
  font-weight: 700;
  color: #e1e2eb;
}

.weather-desc {
  font-size: 12px;
  font-weight: 500;
  color: #e1e2eb;
}

.battery-box {
  background-color: #363940;
  border-radius: 99px;
  padding: 0 3px;
}

.power-mode-icon {
  color: #c2c6d5;
}

.circle {
  background-color: rgba(84, 81, 82, 0.8);
}

.battery-icon {
  font-size: 10.5px;
  color: #c2c6d5;
}

/* TOP CENTER CONTAINER END */

/* TOP RIGHT CONTAINER START */
.utility-box,
.connection-box {
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-top: 5px;
}

.utility,
.connection {
  color: #e1e2eb;
  font-size: 18px;
}

.clipboard {
  color: #8be9fd;
}

.connection-text {
  color: #e1e2eb;
  font-weight: 500;
  font-size: 15px;
}

.bluetooth-box {
  padding-right: 12px;
}

/* TOP RIGHT CONTAINER END */