// @defwindow
.sidecontrol { background-color: transparent; }

/* Control Center */
.container_control_box {
    background-color: $background_alt;
    padding: 8px;
    border-radius: 15px;
}

.icon_box {
    background-color: $background;
    border-radius: 15px;

    &>box:first-child {
        border-radius: 15px;
        padding: 10px 15px;
        padding-right: 25px;
    }

    .active { background-color: $primary; }
    .deactive { background-color: $surface_alt; }
    &.single {
        padding: 10px 20px;
        padding-right: 10px;
    }
}

.icon_control {
    font-size: 1.85em;

    &._battery { padding-right: 10px; }
    &._brightness { padding-left: 10px; }
    &._bluetooth {
        margin-left: 5px;
        margin-right: -5px;
    }
    &._wireguard {
        margin-left: 2px;
        margin-right: -2px;
    }
    &._nightlight {
        margin-left: -1px;
        margin-right: 1px;
    }
}
.icon_desc {
    padding: 0 10px;

    &>label:first-child { font-weight: bold; }
}
.icon_open { padding-right: 10px; }
/* Control Center */



/* Notification Center */
.notification_header {
    border-bottom: solid 1px $surface;
    padding: 3px 2px;
}

.notification_header>label {
    font-weight: bold;
}

.notification_box {
    background-color: $background_alt;
    border-radius: 10px;
    padding: 15px 10px;
}
/* Notification Center */



/* Calendar */
.cal-box {
    font-weight: bold;
    font-size: 0.9rem;
    background-color: $background;
    border-radius: 0.5rem;
    padding: 0 1rem 0.2rem;
    background-color: $background_alt;
    margin: 0.9rem 0.6rem 0.9rem 0.6rem;

    .cal {
        background-color: inherit;
        padding: 0.5rem 0.15rem 0.2rem;
        margin-left: 10px;

        &>* {
            border: solid 0px transparent;
        }

        &.highlight {
            padding: 10rem;
        }
    }
}

calendar:selected {
    color: $tertiary;
}

calendar.header {
    color: $secondary;
    font-weight: bold;
}

calendar.button {
    color: $surface;
}

calendar.highlight {
    color: $success;
    font-weight: bold;
}

calendar:indeterminate {
    color: $surface_alt;
}
/* Calendar */